header{
    font-weight: 800;
    font-size:22px;
    color:#c2aba6;
    padding: 1%;
    border-bottom: solid 3px #c2aba6;
    display: flex;
    justify-content: center;
  }

  .headers{
    margin-top: 20px;
    margin-bottom: -10px;
    margin-right:7%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }


  #note-head {
    margin-right: 5%;
    display: inline-block;
    text-align: left;
  }
  
  #col-head{
    margin-left: 7%;
    display:inline-block;
  }
  
  #list-head {
    margin-right: 9%;
    display: inline-block;
    text-align: right; 
  }
  
  .notePadFields{
    display:inline-block;
    border: solid 3px black; 
    border-radius: 10px;
    height: 400px;
    overflow:scroll;
    width: 40%;
    margin-right: 5%;
    margin-top: 2.5%;
  }

  
#note-title {
    font-size: 24px;
    padding: 0 0 5px 5px;
    border-bottom: solid 2px #DEDEDE;
  }

#note-body {
  padding: 5px;
}

#body-field, #title-field {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

#title-field {
  font-size: 18px;
  font-weight: 600;
}

#body-field {
  font-size: 14px;
  font-weight: 500;
  height: 400px;
}

.colour-palette{
    display:flex;
    padding: 5px 10px 0 5px;
  }
  
  .colour-box {
    border: solid 2px #929292;
    height: 12px;
    width: 12px;
    margin-left: 7%;
  }


.existingNotes{
  

}

.ListNotes{
   
    margin-top: 2.5%;
    /* margin-left: 10%; */
    display:inline-block;
    width: 40%;
    height:400px;
    overflow:scroll;
    border: solid 3px #a8938f;
    border-radius: 5px;
    background-color: #c2aba6;
  }
  
  button:hover, .colour-box:hover {
    cursor: pointer;
  }

  #btn-save{
    background-color:green;
    margin: 5px;
    border: solid 3px #a8938f;
    border-radius: 10%;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: #DEDEDE
  }
  
  #btn-delete{
    background-color:red;
    margin: 5px;
    border: solid 3px #a8938f;
    border-radius: 10%;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: #DEDEDE
  }

  .whiteNote{
      background-color: white;
  }

.greenNote{
    background-color: #86d51a;

}

.tealNote{
    background-color: #79FBD6;
}

.orangeNote{
    background-color: #FFD37F;
}

.pinkNote{
    background-color: #FF89FD ;
}

/* this is the styling for the  NOTEPAD title field*/


/* WHITE TITLE FIELD */

.whiteNoteTitle{
  background-color: white;
  
  }
  #whiteNotetitle-field {
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
  }


/* GREEN TITLE FIELD */
.greenNoteTitle{
background-color: #86d51a;

}
#greenNotetitle-field {
  font-size: 18px;
  font-weight: 600;
  background-color: #86d51a;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

/* TEAL TITLE FIELD */

.tealNoteTitle{
  background-color: #79FBD6;
  
}

#tealNotetitle-field {
  font-size: 18px;
  font-weight: 600;
  background-color: #79FBD6;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}


/* ORANGE TITLE FIELD */
.orangeNoteTitle{
  background-color: #FFD37F;
  
}

#orangeNotetitle-field {
  font-size: 18px;
  font-weight: 600;
  background-color: #FFD37F;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}


/* PINK TITLE FIELD */

.pinkNoteTitle{
  background-color: #FF89FD ;
  
}

#pinkNotetitle-field {
  font-size: 18px;
  font-weight: 600;
  background-color: #FF89FD ;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}


/* BODY FIELD STYLING */

#whiteNoteBody-field{
  background-color: white;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    font-weight: 500;
    height: 400px;
}

#greenNoteBody-field{
  background-color: #86d51a;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  font-weight: 500;
  height: 400px;
}

#tealNoteBody-field{
  background-color: #79FBD6;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  font-weight: 500;
  height: 400px;
}

#orangeNoteBody-field{
  background-color: #FFD37F;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  font-weight: 500;
  height: 400px;
}

#pinkNoteBody-field{
   background-color: #FF89FD ; 
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    font-weight: 500;
    height: 400px;
}
